<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seller Products view</title>
</head>
{% if message %}
    <p>{{ message }}</p>
{% endif %}
<body>
    <!-- Table to display product details -->
    <table id="sellertable" border="1">
        <thead>
            <tr>
                <td>Product ID</td>
                <th>Seller ID</th>
                <th>Product Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total Revenue</th>
                <th>Min Bid</th>
                <th>Bidding Deadline</th>
                <th>Purchased</th>
            </tr>
        </thead>
        <tbody>
            <!-- Iterate over products to display their details -->
            {% for product in products %}
            <tr>
                
                <td>{{ product.id }}</td>
                <td>{{ product.seller_id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>${{ product.price }}</td>
                <td>{{ product.quantity }}</td>
                <td>${{ product.total_revenue }}</td>
                <td>${{ product.min_bid }}</td>
                <td>{{ product.bidding_deadline }}</td>
                <td>{{ product.purchased }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
