<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Product</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <a href="/">Home</a><br>
    <a href="/view_products">Back</a>

    <h1>Update Product</h1>
    <form method="POST">
        <label for="name">Product Name:</label><br>
        <input type="text" id="name" name="name" value="{{ product.name }}" ><br>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description" >{{ product.description }}</textarea><br>
        <input type="submit" value="Update Product"><br>
        
    </form>
    
</body>
</html>
