<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Buyer Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <a href="/">Home</a><br>
    <a href="/buyer_page">Back</a> 

    <h1>Buyer Account Details</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        <tr>
            <td>{{ buyer[1] }}</td> <!-- Index 1 for username -->
            <td>{{ buyer[2] }}</td> <!-- Index 2 for email -->
            <td>
                <a href="/update/{{ buyer[0] }}">Update</a> <!-- Index 0 for id -->
                <a href="/delete/{{ buyer[0] }}">Delete</a> <!-- Index 0 for id -->
            </td>
            
        </tr>
    </table>
    
</body>